@media only screen and (max-width: 991px){
    .featurette-heading {
        font-size: 35px;
    }   

    p {
        font-size: 27px !important;
    }

    .body_home img {
        width: 350px;
        height: 350px;
    }

    .right{
        position: relative;
        left: 3em;
    }

    .rightP{
        position: relative;
        left: 4em;
    }
}

@media (max-width: 767px){
    .right{
        left: 0;
    }

    .rightP{
        left: 0;
    }

    .col-md-7{
        text-align: center;
    }

    .col-md-5{
        text-align: center;
    }
}

@media (max-width: 575px){
    #navbarHeader{
        background: url(bootstrap/img/body/tenor.gif) no-repeat;
        background-size: 100%;
    }

    h4{
        font-size: 30px;
        margin-top: -5px;
    }

    p{
        font-size: 22px !important;
    }

    .py-4{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    

    .featurette-heading {
        font-size: 30px;
    }

    .body_home img {
        width: 300px;
        height: 300px;
    }

  

    .featurette-divider {
        margin: 2rem 0;
    }

    footer .footer_list i{
        font-size: 24px;
    }

    footer .footer_list ul {
        display: inline-flex;
        list-style: none;
        position: relative;
        right: 55px;
    }

    footer p{
        top: -2.2em;
    }

    footer p a{
        font-size: 24px !important;
    }

}

